### Chamando o SQL serveless para rodar a query

In [0]:
%run /Workspace/Users/c00010492@cassi.com.br/Demandas/Reembolso/script_personalizado/sqlStatementSqlWarehouse

In [0]:
def executeScript(sql):
    sql_api = SQLStatementAPI()
    return sql_api.execute_sql(sql)

### Tabela: Centro Custo

In [0]:
sql = """

create or replace table mldata.default.adesoes_cassi_centro_custo as

SELECT DISTINCT 
   C.CO_CENTRO_CUSTO
  ,C.DS_TIPO_CASSI
  FROM GOLD.DW.TD_CENTRO_CUSTO_LUCRO_SGE C

"""

executeScript(sql)

query será realizada no banco:SQLSCIENCE_001

Empty DataFrame
Columns: [num_affected_rows, num_inserted_rows]
Index: []

### Tabela: Propostas adesao cassi familia essencial

In [0]:
sql = """

create or replace table mldata.default.adesoes_cassi_proposta_adesao_cassi_familia_essencial as

--PROPOSTAS_ADESAO_CASSI_FAMILIA
SELECT DISTINCT

L.SG_ESTADO UF,
F.CO_PROTOCOLO,
PR.NO_PROPONENTE,
PR.DT_NASCIMENTO,
PR.NU_CPF,
TE.DT_COMPLETA                   DT_ENVIO_PROPOSTA,
TC.DT_COMPLETA					 DT_COMPETENCIA,
PS.DS_SITUACAO_PROPOSTA,
P.NO_BENEFICIARIO				 NOME_INDICADOR,
P.NU_MATRICULA_CASSI			 MATRICULA_INDICADOR,
P.NU_CPF_BENEFICIARIO,
TS.DT_COMPLETA					 DT_SIT_PROPOSTA,
F.ST_ORIGEM,
F.NU_IDADE,

CASE 
	WHEN PR.CO_TIPO_SEXO = 'F' THEN 'Feminino'
	WHEN PR.CO_TIPO_SEXO = 'M' THEN 'Masculino'
END SEXO_PROPONENTE,

PR.CO_TIPO_SEXO,
PL.CO_CONTRATO,
PL.NO_CONTRATANTE,
PL.DS_PLANO_SAUDE,
PL.DS_GRUPO_PLANO_SAUDE,
PL.DS_GRUPO_CONTRATO,

CASE 
     WHEN PL.CO_CONTRATO IN (24,25,37,40,43,23)                 			THEN 'CASSI FAMÍLIA'
     WHEN PL.CO_CONTRATO IN (28,35,197,217)                     			THEN 'FUNCICASSI'
	 WHEN PL.CO_CONTRATO IN (619,639,640,641,642,643,644,645,646,647,648) 	THEN 'ESSENCIAL'
     ELSE 'OUTROS'
END AS Plano_Unificado,

CASE
     WHEN PL.CO_CONTRATO IN (23)                         THEN 'CASSI FAMÍLIA I'
     WHEN PL.CO_CONTRATO IN (24,25,37,40,43)             THEN 'CASSI FAMÍLIA II'
     WHEN PL.CO_CONTRATO IN (197,217)                    THEN 'COLABORADORES CF II'
     WHEN PL.CO_CONTRATO IN (28,35)                      THEN 'FUNCICASSI'
	 WHEN PL.CO_CONTRATO IN (619) THEN 'ESSENCIAL DF e Entorno'
	 WHEN PL.CO_CONTRATO IN (639) THEN 'ESSENCIAL AC, AM, AP, PA e RR'
	 WHEN PL.CO_CONTRATO IN (640) THEN 'ESSENCIAL CE e PI'
	 WHEN PL.CO_CONTRATO IN (641) THEN 'ESSENCIAL AL, PB e RN'
	 WHEN PL.CO_CONTRATO IN (642) THEN 'ESSENCIAL BA e SE'
	 WHEN PL.CO_CONTRATO IN (643) THEN 'ESSENCIAL GO, MS, MT, RO e TO'
	 WHEN PL.CO_CONTRATO IN (644) THEN 'ESSENCIAL MG'
	 WHEN PL.CO_CONTRATO IN (645) THEN 'ESSENCIAL SP'
	 WHEN PL.CO_CONTRATO IN (646) THEN 'ESSENCIAL RJ e ES'
	 WHEN PL.CO_CONTRATO IN (647) THEN 'ESSENCIAL PR, SC e RS'
	 WHEN PL.CO_CONTRATO IN (648) THEN 'ESSENCIAL MA'
	 WHEN PL.CO_CONTRATO IN (649) THEN 'ESSENCIAL PE'
	 WHEN PL.CO_CONTRATO IN (679) THEN 'VIDA BH' 
	 WHEN PL.CO_CONTRATO IN (819) THEN 'VIDA BRASÍLIA' 
	 WHEN PL.CO_CONTRATO IN (839) THEN 'VIDA TRIÂNGULO MINEIRO' 
	 WHEN PL.CO_CONTRATO IN (840) THEN 'VIDA SALVADOR'	 
	 WHEN PL.CO_CONTRATO IN (859) THEN 'VIDA CURITIBA'
	 WHEN PL.CO_CONTRATO IN (879) THEN 'VIDA FORTALEZA'
	 WHEN PL.CO_CONTRATO IN (880) THEN 'VIDA RECIFE'
	 WHEN PL.CO_CONTRATO IN (881) THEN 'VIDA SÃO PAULO'
	 WHEN PL.CO_CONTRATO IN (899) THEN 'VIDA FLORIANÓPOLIS'
	 WHEN PL.CO_CONTRATO IN (900) THEN 'VIDA CAMPINAS'
	 WHEN PL.CO_CONTRATO IN (919) THEN 'VIDA RIBEIRÃO PRETO'
	 WHEN PL.CO_CONTRATO IN (920) THEN 'VIDA PORTO ALEGRE'
	 WHEN PL.CO_CONTRATO IN (921) THEN 'VIDA RIO DE JANEIRO'	 
     ELSE 'OUTROS'
END AS Grupo_Plano

FROM GOLD.DW.TF_ADESOES_CSC_WEB F
JOIN GOLD.DW.TD_PROPONENTE_ADESAO_WEB  PR ON PR.SK_TD_PROPONENTE_ADESAO_WEB = F.SK_TD_PROPONENTE_ADESAO_WEB
JOIN GOLD.DW.TD_TEMPO                  TE ON TE.SK_TD_TEMPO                  = F.SK_TD_TEMPO_ENVIO_PROPOSTA
JOIN GOLD.DW.TD_TEMPO                  TS ON TS.SK_TD_TEMPO                  = F.SK_TD_TEMPO_SIT_PROPOSTA
JOIN GOLD.DW.TD_TEMPO					 TC ON TC.SK_TD_TEMPO = F.SK_TD_TEMPO_COMPETENCIA
JOIN GOLD.DW.TD_PROPOSTA_SITUACAO      PS ON PS.SK_TD_PROPOSTA_SITUACAO     = F.SK_TD_PROPOSTA_SITUACAO
JOIN GOLD.DW.TD_LOCALIDADE             L  ON L.SK_TD_LOCALIDADE             = F.SK_TD_LOCALIDADE
JOIN GOLD.DW.TD_PARTICIPANTE           P  ON P.SK_TD_PARTICIPANTE           = F.SK_TD_PARTICIPANTE_INDIC
LEFT JOIN GOLD.DW.TD_PLANO_SAUDE		PL	ON PL.SK_TD_PLANO_SAUDE = F.SK_TD_PLANO_SAUDE

WHERE
--PR.NU_CPF = 04380631125 AND
/*TE.DT_COMPLETA = (SELECT DISTINCT MAX(TT.DT_COMPLETA) FROM GOLD.DW.TF_ADESOES_CSC_WEB FF
										 JOIN GOLD.DW.TD_TEMPO TT ON TT.SK_TD_TEMPO = FF.SK_TD_TEMPO_ENVIO_PROPOSTA
										 JOIN GOLD.DW.TD_PROPONENTE_ADESAO_WEB  PP ON PP.SK_TD_PROPONENTE_ADESAO_WEB = FF.SK_TD_PROPONENTE_ADESAO_WEB
										 JOIN GOLD.DW.TD_PROPOSTA_SITUACAO      P ON P.SK_TD_PROPOSTA_SITUACAO     = FF.SK_TD_PROPOSTA_SITUACAO
								    WHERE PP.NU_CPF = PR.NU_CPF
									AND P.DS_SITUACAO_PROPOSTA IN ('CANCELADA PELO ANALISTA','CANCELADA AUTOMATICAMENTE','PROPOSTA EFETIVADA')
									
									)
AND 
*/
F.ANO_MES_COMPETENCIA >= '202101'
--AND PL.CO_CONTRATO IN (619,639,640,641,642,643,644,645,646,647,648,649)

"""

executeScript(sql)

query será realizada no banco:SQLSCIENCE_001

Empty DataFrame
Columns: [num_affected_rows, num_inserted_rows]
Index: []

### Tabela: Plano Saude

In [0]:
sql = """

create or replace table mldata.default.adesoes_cassi_plano_saude as

--PLANO_SAUDE
SELECT PS.* ,   

CASE 
     WHEN PS.CO_CONTRATO IN (23)                                THEN 'CASSI FAMÍLIA I'
     WHEN PS.CO_CONTRATO IN (24,25,37,40,43)                    THEN 'CASSI FAMÍLIA II'
     WHEN PS.CO_CONTRATO IN (28,35,197,217)                     THEN 'FUNCICASSI'
	 WHEN  PS.CO_CONTRATO IN (619,639,640,641,642,643,644,645,646,647,648,649) THEN 'ESSENCIAL'
     ELSE 'OUTROS'
END AS Plano_Unificado , 

CASE 
     WHEN PS.CO_CONTRATO IN (24,25,37,40,43,23)                 THEN 'CASSI FAMÍLIA'
     WHEN PS.CO_CONTRATO IN (28,35,197,217)                     THEN 'FUNCICASSI'
	 WHEN  PS.CO_CONTRATO IN (619,639,640,641,642,643,644,645,646,647,648,649) THEN 'ESSENCIAL'
     ELSE 'OUTROS'
END AS Plano_Unificado2 , 

CASE 
     WHEN PS.CO_CONTRATO IN (24,25,37,40,43,23,28,35,197,217)                 	  THEN 'CASSI FAMÍLIA'
	 WHEN PS.CO_CONTRATO IN (2,7,30,68,69,277,278,4,61,70,478,5,66,579,6)     	  THEN 'ASSOCIADOS'
	 WHEN PS.CO_CONTRATO IN (619,639,640,641,642,643,644,645,646,647,648,649) 	  THEN 'ESSENCIAL'
	 WHEN PS.CO_CONTRATO IN (679,819,839,840,859,879,880,881,899,900,919,920,921) THEN 'CASSI VIDA'
     ELSE 'OUTROS'
END AS Plano_Unificado3 , 

CASE
     WHEN PS.CO_CONTRATO IN (23)                         THEN 'CASSI FAMÍLIA I'
     WHEN PS.CO_CONTRATO IN (24,25,37,40,43)             THEN 'CASSI FAMÍLIA II'
     WHEN PS.CO_CONTRATO IN (197,217)                    THEN 'COLABORADORES CF II'
     WHEN PS.CO_CONTRATO IN (28,35)                      THEN 'FUNCICASSI'
	 WHEN PS.CO_CONTRATO IN (619) THEN 'ESSENCIAL DF e Entorno'
	 WHEN PS.CO_CONTRATO IN (639) THEN 'ESSENCIAL AC, AM, AP, PA e RR'
	 WHEN PS.CO_CONTRATO IN (640) THEN 'ESSENCIAL CE e PI'
	 WHEN PS.CO_CONTRATO IN (641) THEN 'ESSENCIAL AL, PB e RN'
	 WHEN PS.CO_CONTRATO IN (642) THEN 'ESSENCIAL BA e SE'
	 WHEN PS.CO_CONTRATO IN (643) THEN 'ESSENCIAL GO, MS, MT, RO e TO'
	 WHEN PS.CO_CONTRATO IN (644) THEN 'ESSENCIAL MG'
	 WHEN PS.CO_CONTRATO IN (645) THEN 'ESSENCIAL SP'
	 WHEN PS.CO_CONTRATO IN (646) THEN 'ESSENCIAL RJ e ES'
	 WHEN PS.CO_CONTRATO IN (647) THEN 'ESSENCIAL PR, SC e RS'
	 WHEN PS.CO_CONTRATO IN (648) THEN 'ESSENCIAL MA'
	 WHEN PS.CO_CONTRATO IN (649) THEN 'ESSENCIAL PE'
	 WHEN PS.CO_CONTRATO IN (679) THEN 'VIDA BH'
	 WHEN PS.CO_CONTRATO IN (819) THEN 'VIDA BRASÍLIA'
	 WHEN PS.CO_CONTRATO IN (839) THEN 'VIDA TRIÂNGULO MINEIRO'
	 WHEN PS.CO_CONTRATO IN (840) THEN 'VIDA SALVADOR'	 
	 WHEN PS.CO_CONTRATO IN (859) THEN 'VIDA CURITIBA'
	 WHEN PS.CO_CONTRATO IN (879) THEN 'VIDA FORTALEZA'
	 WHEN PS.CO_CONTRATO IN (880) THEN 'VIDA RECIFE'
	 WHEN PS.CO_CONTRATO IN (881) THEN 'VIDA SÃO PAULO'
	 WHEN PS.CO_CONTRATO IN (899) THEN 'VIDA FLORIANÓPOLIS'
	 WHEN PS.CO_CONTRATO IN (900) THEN 'VIDA CAMPINAS'
	 WHEN PS.CO_CONTRATO IN (919) THEN 'VIDA RIBEIRÃO PRETO'
	 WHEN PS.CO_CONTRATO IN (920) THEN 'VIDA PORTO ALEGRE'
	 WHEN PS.CO_CONTRATO IN (921) THEN 'VIDA RIO DE JANEIRO'	 
	 WHEN PS.CO_CONTRATO = 2     THEN 'Associado - Funcionário Banco do Brasil'
	 WHEN PS.CO_CONTRATO = 7     THEN 'Dependentes Indiretos'
	 WHEN PS.CO_CONTRATO = 30     THEN 'Associado - Exonerados'
	 WHEN PS.CO_CONTRATO = 68     THEN 'Associado - Autopatrocinado Temporário'
	 WHEN PS.CO_CONTRATO = 69    THEN 'Associado - Autopatrocinado Permanentes'
	 WHEN PS.CO_CONTRATO = 277     THEN 'Associados - Autopatrocinado Permanente - INSS'
	 WHEN PS.CO_CONTRATO = 278     THEN 'Associados - Autopatrocinado Temporário - INSS'
	 WHEN PS.CO_CONTRATO = 4     THEN 'Aposentados'
	 WHEN PS.CO_CONTRATO = 61     THEN 'Associados Ação Judicial'
	 WHEN PS.CO_CONTRATO = 70     THEN 'Associados Ação Judicial Custeio Integral'
	 WHEN PS.CO_CONTRATO = 478     THEN 'PAS - Incorporados'
	 WHEN PS.CO_CONTRATO = 5     THEN 'Pensionistas'
	 WHEN PS.CO_CONTRATO = 66     THEN 'Pensionistas INSS'
	 WHEN PS.CO_CONTRATO = 579     THEN 'EX-ASSOCIADO AUTOPATROCINADO'
	 WHEN PS.CO_CONTRATO = 6     THEN 'Paraguaios'
     ELSE 'OUTROS'

END AS Grupo_Plano,

CASE                  WHEN PS.CO_CONTRATO IN (23)                                      THEN 'CASSI FAMÍLIA I'
                      WHEN PS.CO_CONTRATO IN (24,25,37,40,43)                          THEN 'CASSI FAMÍLIA II'
                      WHEN PS.CO_CONTRATO IN (197,217)                                 THEN 'COLABORADORES CF II'
                      WHEN PS.CO_CONTRATO IN (28,35)                                   THEN 'FUNCICASSI'
                      ELSE 'OUTROS'
                 END                                AS Grupo_Plano_1


FROM GOLD.DW.TD_PLANO_SAUDE PS

WHERE 
PS.CO_CONTRATO IN (619,639,640,641,642,643,644,645,646,647,648,649,679,819,839,840,859,879,880,881,899,900,919,920,921,24,25,37,40,43,23,2,7,30,68,69,277,278,4,61,70,478,5,66,579,6) --CONTRATOS NÃO UTILIZADOS-197,217,28,35

"""

executeScript(sql)

query será realizada no banco:SQLSCIENCE_001

Empty DataFrame
Columns: [num_affected_rows, num_inserted_rows]
Index: []

### Tabela: Simulador propostas

In [0]:
sql = """

create or replace table mldata.default.adesoes_cassi_simulador_propostas as

SELECT 
SML.*,

CASE
	WHEN SML.ID_ORGM_LEAD = 1 THEN 'Simulador'
	WHEN SML.ID_ORGM_LEAD = 170 THEN 'Cassi Vida BH'
	WHEN SML.ID_ORGM_LEAD = 171 THEN 'Cassi Vida Triângulo Mineiro'
	WHEN SML.ID_ORGM_LEAD = 172 THEN 'Cassi Vida Salvador'
	WHEN SML.ID_ORGM_LEAD = 173 THEN 'Cassi Vida Brasília'	
	WHEN SML.ID_ORGM_LEAD = 174 THEN 'Cassi Vida Curitiba'
	WHEN SML.ID_ORGM_LEAD = 175 THEN 'Cassi Vida Fortaleza'
	WHEN SML.ID_ORGM_LEAD = 176 THEN 'Cassi Vida Recife'
	WHEN SML.ID_ORGM_LEAD = 177 THEN 'Cassi Vida São Paulo'
	WHEN SML.ID_ORGM_LEAD = 178 THEN 'Cassi Vida Florianópolis'
	WHEN SML.ID_ORGM_LEAD = 179 THEN 'Cassi Vida Campinas'
	WHEN SML.ID_ORGM_LEAD = 180 THEN 'Cassi Vida Ribeirão Preto'
	WHEN SML.ID_ORGM_LEAD = 181 THEN 'Cassi Vida Porto Alegre'
	WHEN SML.ID_ORGM_LEAD = 182 THEN 'Cassi Vida Rio de Janeiro'	
	ELSE 'Outro'
END ORIGEM_LEAD,

CASE
WHEN SML.QRO_SER_CNTTDO = 'S' THEN 'SIM'
ELSE 'NÃO'
END AS SOLICITOU_CONTATO,

CASE
WHEN SML.TX_TEM_PLNO_SDE = 1 THEN 'Sim, da própria CASSI'
WHEN SML.TX_TEM_PLNO_SDE = 2 THEN 'Sim, de outra operadora'
ELSE 'Não'
END AS TEM_PLANO,

--SML.NUM_CEP,

CASE
    WHEN SML.ID_UF = 1 THEN 'AC'
	WHEN SML.ID_UF = 2 THEN 'AL'
	WHEN SML.ID_UF = 3 THEN 'AP'
	WHEN SML.ID_UF = 4 THEN 'AM'
	WHEN SML.ID_UF = 5 THEN 'BA'
	WHEN SML.ID_UF = 6 THEN 'CE'
	WHEN SML.ID_UF = 7 THEN 'DF'
	WHEN SML.ID_UF = 8 THEN 'ES'
	WHEN SML.ID_UF = 9 THEN 'GO'
	WHEN SML.ID_UF = 10 THEN 'MA'
	WHEN SML.ID_UF = 11 THEN 'MT'
	WHEN SML.ID_UF = 12 THEN 'MS'
	WHEN SML.ID_UF = 13 THEN 'MG'
	WHEN SML.ID_UF = 14 THEN 'PA'
	WHEN SML.ID_UF = 15 THEN 'PB'
	WHEN SML.ID_UF = 16 THEN 'PR'
	WHEN SML.ID_UF = 17 THEN 'PE'
	WHEN SML.ID_UF = 18 THEN 'PI'
	WHEN SML.ID_UF = 19 THEN 'RJ'
	WHEN SML.ID_UF = 20 THEN 'RN'
	WHEN SML.ID_UF = 21 THEN 'RS'
	WHEN SML.ID_UF = 22 THEN 'RO'
	WHEN SML.ID_UF = 23 THEN 'RR'
	WHEN SML.ID_UF = 24 THEN 'SC'
	WHEN SML.ID_UF = 25 THEN 'SP'
	WHEN SML.ID_UF = 26 THEN 'SE'
	WHEN SML.ID_UF = 27 THEN 'TO'
	ELSE 'NI'
	END AS UF2,
	
CURRENT_TIMESTAMP as DATA_ATUAL,

------------- novos campos para relatório
       SML.NME_CNDDO                     AS NOME,
       SML.TX_EMAIL                      AS EMAIL,
       SML.NUM_CPF                       AS CPF,
       SML.NUM_TLFNE                     AS TELEFONE,
       SML.NUM_CEP                       AS CEP,
       SML.DSC_IDDE                      AS IDADE,
	   SML.TX_UF						 AS UF,
	   SML.TX_MNCPO						 AS CIDADE,
       
	   CASE 
           when SML.TX_PRNTSCO = '1' then 'Ex-funcionário'
           when SML.TX_PRNTSCO = '2' then 'Filho(a) / Enteado(a)'
           when SML.TX_PRNTSCO = '3' then 'Pai/Mãe'
           when SML.TX_PRNTSCO = '4' then 'Irmão/Irmã'
           when SML.TX_PRNTSCO = '5' then 'Primo(a)'
           when SML.TX_PRNTSCO = '6' then 'Sobrinho(a)'
           when SML.TX_PRNTSCO = '7' then 'Neto(a)'
           when SML.TX_PRNTSCO = '8' then 'Bisneto(a)'
           when SML.TX_PRNTSCO = '9' then 'Sobrinho(a)-neto(a)'
           when SML.TX_PRNTSCO = '10' then 'Esposo(a) do neto(a)'
           when SML.TX_PRNTSCO = '11' then 'Nora/Genro'
           when SML.TX_PRNTSCO = '12' then 'Padrasto/Madrasta'
           when SML.TX_PRNTSCO = '13' then 'Cunhado(a)'
           when SML.TX_PRNTSCO = '14' then 'Tio(a)'
           when SML.TX_PRNTSCO = '15' then 'Avô(ó)'
           when SML.TX_PRNTSCO = '16' then 'Sogro(a)'		  
           when SML.TX_PRNTSCO = '17' then 'Outros'
		   else 'NI'
		end as PARENTESCO,
		
       CASE SML.TX_TEM_PLNO_SDE
           WHEN 1 THEN 'Sim, da própria CASSI'
           WHEN 2 THEN 'Sim, de outra operadora'
           WHEN 3 THEN 'Não' 
		END AS TEMPLANOSAUDE,
		
       SML.QRO_SER_CNTTDO AS QUEROSERCONTATADO,
	   
       CASE SML.FRM_CNTTO
           WHEN 1 THEN 'TANTO FAZ'
           WHEN 2 THEN 'MANHA'
           WHEN 3 THEN 'TARDE'
           WHEN 4 THEN 'NOITE'
           WHEN NULL THEN '-'
       END AS FORMACONTATO,
	   
	    CASE SML.ID_OPRDA
           WHEN 1 THEN 'NotreDame Intermédica'
           WHEN 2 THEN 'Hapvida'
           WHEN 3 THEN 'Bradesco Saúde'
           WHEN 4 THEN 'Amil'
           WHEN 5 THEN 'SulAmérica'
		   WHEN 6 THEN 'Unimed'
		   WHEN 7 THEN 'Prevent Senior'
		   WHEN 8 THEN 'Assim Saúde'
		   WHEN 9 THEN 'MPorto Seguro Saúde'
		   WHEN 10 THEN 'MedSênior'
		   WHEN 11 THEN 'Geap'
		   WHEN 12 THEN 'Assefaz'
		   WHEN 13 THEN 'Outros'
       END AS OPERADORA,
	   
	  CASE SML.ID_QTTMP
           WHEN 1 THEN '0 A 5 Meses'
           WHEN 2 THEN '6 a 12 Meses'
           WHEN 3 THEN 'Superior a 12 Meses'
       END AS QTDMES

FROM SILVER.ADESAO_WEB.TB_CNDDO_SMLDR SML
ORDER BY DT_RGTRO DESC

"""

executeScript(sql)

query será realizada no banco:SQLSCIENCE_001

Empty DataFrame
Columns: [num_affected_rows, num_inserted_rows]
Index: []

### Tabela: Adesao soc

In [0]:
sql = """

create or replace table mldata.default.adesoes_cassi_adesao_soc as

SELECT
BEN.HANDLE,
BEN.NOME,
--TO_CHAR(BEN.DATAADESAO,'YYYY-MM-DD') DATA,
TO_DATE(BEN.DATAADESAO,'YYYY-MM-DD') DATA,
BEN.DATAADESAO,
--TRUNC((MONTHS_BETWEEN(SYSDATE,MAT.DATANASCIMENTO))/12)IDADE,
INT(DATEDIFF(CURRENT_DATE(),MAT.DATANASCIMENTO)/365) IDADE,
C.CONTRATANTE,
GC.DESCRICAO GRUPO_CONTRATO,
MAT.SEXO,
EST.SIGLA UF,
1 QTD
FROM SILVER.SOC.SAM_BENEFICIARIO BEN
JOIN SILVER.SOC.SAM_MATRICULA    MAT ON MAT.HANDLE = BEN.MATRICULA
JOIN SILVER.SOC.SAM_ENDERECO SEN ON SEN.HANDLE = BEN.ENDERECORESIDENCIAL
JOIN SILVER.SOC.ESTADOS      EST ON EST.HANDLE = SEN.ESTADO 
JOIN SILVER.SOC.SAM_CONTRATO C ON BEN.CONTRATO = C.HANDLE
JOIN SILVER.SOC.SAM_GRUPOCONTRATO GC ON C.GRUPOCONTRATO = GC.HANDLE 

WHERE C.GRUPOCONTRATO IN(2,6,26)--26-CASSI VIDA(INFORMACAO INSERIDA PELO COLABORADOR MICHEL ROCHA GTI INFORMACAO)
AND BEN.DATAADESAO BETWEEN '2021-06-23' AND TO_DATE(CURRENT_DATE(),'YYYY-MM-DD')
AND C.HANDLE NOT IN (197, 217) --(AJUSTE PARA NAO APRESENTAR OS PLANOS 197-CASSI Família II - Colaboradores E 217-CASSI Família II - Colaboradores Adm)
--GROUP BY BEN.DATAADESAO, GC.DESCRICAO, EST.SIGLA,MAT.DATANASCIMENTO,BEN.HANDLE,
--BEN.NOME,MAT.SEXO, C.CONTRATANTE

"""

executeScript(sql)

query será realizada no banco:SQLSCIENCE_001

Empty DataFrame
Columns: [num_affected_rows, num_inserted_rows]
Index: []

### Tabela: Situação Ben Soc

In [0]:
sql = """

create or replace table mldata.default.adesoes_cassi_situacao_ben_soc as

--SITUACAO_BEN_SOC
--ACOMPANHAMENTO DAS ADESOES SOC/CSC--
SELECT
 F.ANO_MES_COMPETENCIA
,F.QT_ADESAO
,F.QT_ATIVO
,F.QT_CANCELADO
,F.QT_REATIVADO
,F.QT_ALTERACAO 
,F.NU_IDADE

,L.NO_ESTADO
,L.SG_ESTADO

,CASE
	WHEN F.QT_ADESAO    = 1 THEN 'ADESAO'
	WHEN F.QT_ATIVO     = 1 THEN 'ATIVO'
	WHEN F.QT_CANCELADO = 1 THEN 'CANCELADO'
	WHEN F.QT_REATIVADO = 1 THEN 'REATIVADO'
	WHEN F.QT_ALTERACAO  = 1 THEN 'ALTERACAO'
END SITUACAO

,CASE 
	WHEN F.NU_IDADE BETWEEN  0 AND 18 THEN '00-18'
	WHEN F.NU_IDADE BETWEEN 19 AND 23 THEN '19-23'
	WHEN F.NU_IDADE BETWEEN 24 AND 28 THEN '24-28'
	WHEN F.NU_IDADE BETWEEN 29 AND 33 THEN '29-33'
	WHEN F.NU_IDADE BETWEEN 34 AND 38 THEN '34-38'
	WHEN F.NU_IDADE BETWEEN 39 AND 43 THEN '39-43'
	WHEN F.NU_IDADE BETWEEN 44 AND 48 THEN '44-48'
	WHEN F.NU_IDADE BETWEEN 49 AND 53 THEN '49-53'
	WHEN F.NU_IDADE BETWEEN 54 AND 58 THEN '54-58'
    WHEN F.NU_IDADE      >= 59        THEN '59-MM'
END FAIXA_ETARIA

,TA.DT_COMPLETA                   DT_ADESAO
,TC.DT_COMPLETA                   DT_CANCELAMENTO
,TR.DT_COMPLETA                   DT_REATIVACAO
,TM.DT_COMPLETA                   DT_COMPETENCIA
,TM.NU_ANO
,TM.NU_MES

,CASE
	WHEN TA.DT_COMPLETA <> '9999-12-31' THEN TA.DT_COMPLETA
	WHEN TC.DT_COMPLETA <> '9999-12-31' THEN TC.DT_COMPLETA
	WHEN TR.DT_COMPLETA <> '9999-12-31' THEN TR.DT_COMPLETA
END DT_ATUALIZACAO

,P.NO_BENEFICIARIO
,P.NU_MATRICULA_CASSI
,P.DS_SEXO_BENEFICIARIO
,P.SG_UF_RESIDENCIAL
,P.DT_NASCIMENTO_BENEFICIARIO
,P.NU_CPF_BENEFICIARIO
,P.DS_EMAIL
,P.DS_ENDERECO_RESIDENCIAL
,P.NU_LOGRADOURO_RESIDENCIAL
,P.NU_CELULAR
,P.NU_TELEFONE1
,P.DS_CONTRATO_BENEFICIARIO
,P.DS_ORIGEM_ADESAO

,S.NU_CONTRATO

,C.DS_MOTIVO_CANCELAMENTO
,F.SK_TD_PLANO_SAUDE
,S.CO_CONTRATO
,S.DS_PLANO_SAUDE
,S.NO_CONTRATANTE

FROM       GOLD.DW.TF_SITUACAO_BENEFICIARIOS  F
INNER JOIN GOLD.DW.TD_PARTICIPANTE            P  ON P.SK_TD_PARTICIPANTE        = F.SK_TD_PARTICIPANTE
INNER JOIN GOLD.DW.TD_PLANO_SAUDE             S  ON S.SK_TD_PLANO_SAUDE         = F.SK_TD_PLANO_SAUDE
INNER JOIN GOLD.DW.TD_TEMPO                   TA ON TA.SK_TD_TEMPO              = F.SK_TD_TEMPO_ADESAO
INNER JOIN GOLD.DW.TD_TEMPO                   TC ON TC.SK_TD_TEMPO              = F.SK_TD_TEMPO_CANCELADO
INNER JOIN GOLD.DW.TD_TEMPO                   TR ON TR.SK_TD_TEMPO              = F.SK_TD_TEMPO_REATIVACAO
INNER JOIN GOLD.DW.TD_TEMPO                   TM ON TM.SK_TD_TEMPO              = F.SK_TD_TEMPO_COMPETENCIA
INNER JOIN GOLD.DW.TD_LOCALIDADE              L  ON L.SK_TD_LOCALIDADE          = F.SK_TD_LOCALIDADE 
INNER JOIN GOLD.DW.TD_MOTIVO_CANCELAMENTO     C  ON C.SK_TD_MOTIVO_CANCELAMENTO = F.SK_TD_MOTIVO_CANCELAMENTO

WHERE 1=1
--AND F.ANO_MES_COMPETENCIA >= '202001'
AND F.ANO_MES_COMPETENCIA >= '202101' -- DATA ALTERADA PELO COLABORADOR MICHEL ROCHA - GTI INFORMAÇÃO
AND S.CO_CONTRATO IN (619,639,640,641,642,643,644,645,646,647,648,649,679,819,839,840,859,879,880,881,899,900,919,920,921,24,25,37,40,43,23,2,7,30,68,69,277,278,4,61,70,478,5,66,579,6)

"""

executeScript(sql)

query será realizada no banco:SQLSCIENCE_001

Empty DataFrame
Columns: [num_affected_rows, num_inserted_rows]
Index: []

### Tabela: Adesao Essencial Soc

In [0]:
sql = """

create or replace table mldata.default.adesoes_cassi_adesao_essencial_soc as

WITH BENEFICIARIO AS
(
SELECT DISTINCT
M.CPF,
C.CONTRATANTE CONTRATO,
BEN.DATACANCELAMENTO
FROM SILVER.SOC.SAM_BENEFICIARIO BEN
JOIN SILVER.SOC.SAM_CONTRATO C ON C.HANDLE = BEN.CONTRATO
JOIN SILVER.SOC.SAM_MATRICULA M ON M.HANDLE = BEN.MATRICULA
LEFT JOIN SILVER.SOC.SAM_MOTIVOCANCELAMENTO MC ON MC.HANDLE = BEN.MOTIVOCANCELAMENTO
WHERE BEN.DATACANCELAMENTO >= '2021-06-23'
--AND BEN.DATACANCELAMENTO IS NULL
AND C.GRUPOCONTRATO = 2
--NOT IN (350,205,208,207,209,206)
)
SELECT DISTINCT
TO_DATE(BEN.DATAADESAO,'YYYY-MM-DD') DATA,
BEN.DATAADESAO,
BEN.HANDLE,
BEN.NOME,
EST.SIGLA UF,
GC.DESCRICAO Grupo_contrato,
C.CONTRATANTE CONTRATO,
BB.CPF CPF_CONTRATO_ANTIGO,
BB.CONTRATO CONTRATO_ANTERIOR,
BB.DATACANCELAMENTO,
CASE
   WHEN BB.CPF IS NULL THEN 'Primeira Adesão'
     ELSE 'Alteração Plano'
 END TIPO_ADESAO
FROM SILVER.SOC.SAM_BENEFICIARIO                         BEN
JOIN SILVER.SOC.SAM_MATRICULA                            MAT ON MAT.HANDLE = BEN.MATRICULA
JOIN SILVER.SOC.SAM_ENDERECO                             SEN ON SEN.HANDLE = BEN.ENDERECORESIDENCIAL
JOIN SILVER.SOC.ESTADOS                                  EST ON EST.HANDLE = SEN.ESTADO 
JOIN SILVER.SOC.SAM_CONTRATO                             C ON BEN.CONTRATO = C.HANDLE
LEFT JOIN BENEFICIARIO                    BB ON BB.CPF = MAT.CPF
JOIN SILVER.SOC.SAM_GRUPOCONTRATO                        GC ON C.GRUPOCONTRATO = GC.HANDLE
WHERE C.GRUPOCONTRATO  = 6
AND BEN.DATAADESAO >= '2021-06-23'

"""

executeScript(sql)

query será realizada no banco:SQLSCIENCE_001

Empty DataFrame
Columns: [num_affected_rows, num_inserted_rows]
Index: []

### Tabela: Beneficiarios Utilização Adesão

In [0]:
sql = """

create or replace table mldata.default.adesoes_cassi_beneficiarios_utilizacao_adesao as

--BENEFICIARIOS_UTILIZACAO_ADESAO
SELECT DISTINCT

EST.SIGLA UF,
TIT.HANDLE,
TIT.NOME BENEFICIARIO,
TIT.MATRICULACASSI,
MAT.CPF,
TIT.DATAADESAO,
AUT.DATAAUTORIZACAO,
AUT.AUTORIZACAO,
CON.CONTRATANTE CONTRATO_ADESAO,
GC.DESCRICAO DESCGRUPOCONTRATO,
CON.GRUPOCONTRATO

FROM SILVER.SOC.SAM_BENEFICIARIO                     TIT
JOIN SILVER.SOC.SAM_AUTORIZ                          AUT ON AUT.BENEFICIARIO = TIT.HANDLE
JOIN SILVER.SOC.SAM_AUTORIZ_EVENTOSOLICIT			AES ON AES.AUTORIZACAO = AUT.HANDLE
JOIN SILVER.SOC.SAM_AUTORIZ_EVENTOGERADO				AEG ON AEG.EVENTOSOLICITADO = AES.HANDLE
JOIN SILVER.SOC.SAM_MATRICULA                        MAT ON MAT.HANDLE = TIT.MATRICULA
JOIN SILVER.SOC.SAM_CONTRATO                         CON ON CON.HANDLE = TIT.CONTRATO
JOIN SILVER.SOC.SAM_ENDERECO                         SEN ON SEN.HANDLE = TIT.ENDERECORESIDENCIAL
JOIN SILVER.SOC.ESTADOS                              EST ON EST.HANDLE = SEN.ESTADO
JOIN SILVER.SOC.SAM_GRUPOCONTRATO 					GC ON CON.GRUPOCONTRATO = GC.HANDLE
--JOIN SAM_CONTRATO_TPDEP                   CTD ON CTD.HANDLE = TIT.TIPODEPENDENTE
--JOIN SAM_TIPODEPENDENTE                   TD ON TD.HANDLE = CTD.TIPODEPENDENTE

WHERE
--TIT.DATACANCELAMENTO BETWEEN '01/01/2020' AND '21/06/2021'
TIT.DATAADESAO >= '2021-01-01'
--AND AUT.DATAAUTORIZACAO BETWEEN '2021-07-01' AND '2021-07-22'
--AND CON.GRUPOCONTRATO = 6
--AND EST.SIGLA = 'DF'
AND CON.HANDLE IN (24,25,37,40,43,23,619,639,640,641,642,643,644,645,646,647,648,649,679,819,839,840,859,879,880,881,899,900,919,920,921,2,7,30,68,69,277,278,4,61,70,478,5,66,579,6)

"""

executeScript(sql)

query será realizada no banco:SQLSCIENCE_001

Empty DataFrame
Columns: [num_affected_rows, num_inserted_rows]
Index: []

### Tabela: Base Indicação

In [0]:
sql = """

create or replace table mldata.default.adesoes_cassi_base_indicacao as

SELECT DISTINCT
F.ANO_MES_PROCESSAMENTO,
F.NU_IDADE,
F.QT_INDICACAO,
DC.CO_HD_CONTRATO_LOTACAO AS HANDLE_AGENCIA,
DC.DS_CONTRATO AS CONTRATO,
DC.CO_DEPENDENCIA_BB ||' - '|| DC.DS_DEPENDENCIA_BB AS AGENCIA,
DC.DS_ESTADO AS ESTADO_AGENCIA,
DC.SG_ESTADO AS SIGLA_ESTADO,
DC.DS_MUNICIPIO AS MUNICIPIO,
O.DS_ORIGEM_ADESOES,
O.DT_INICIO_VIGENCIA,
P.CO_HD_BENEFICIARIO,
P.DS_TIPO_DEPENDENCIA,
P.NU_MATRICULA_CASSI,
P.NO_BENEFICIARIO,
P.NU_CPF_BENEFICIARIO,
P.DS_SEXO_BENEFICIARIO,
P.DS_ESTADO_CIVIL_BENEFICIARIO,
P.NO_FILIAL_CUSTO,
P.DS_CONTRATO_BENEFICIARIO,
P.DT_NASCIMENTO_BENEFICIARIO,
P.DT_ADESAO_ASSISTENCIA,
P.DT_CANCELAMENTO_BENEFICIARIO,
P.DS_MOTIVO_CANCEL_BENEFICIARIO,
P.DS_PARENTESCO,
P.NU_TELEFONE1,
P.NU_TELEFONE2,
P.NU_CELULAR,
P.DS_EMAIL AS EMAIL_PARTICIPANTE,
UPPER(PI.NO_INDICADO) AS NO_INDICADO,
PI.DS_EMAIL AS EMAIL_INDICADO,
PI.NU_TELEFONE,
PI.DS_GRAU_PARENTESCO,
PI.DT_INICIO_VIGENCIA AS DT_INICIO_PI,
PS.DS_PLANO_SAUDE,
PS.DS_GRUPO_PLANO_SAUDE,
PS.NO_CONTRATANTE,
PS.CO_CONTRATO,
TI.DT_COMPLETA,
TI.DT_INICIO_VIGENCIA AS DT_INICIO_VIGENCIA2,
LL.SG_ESTADO
FROM GOLD.DW.TF_INDICACOES F
INNER JOIN GOLD.DW.TD_DEPENDENCIA_CONTRATO DC  ON DC.SK_TD_DEPENDENCIA_CONTRATO = F.SK_TD_DEPENDENCIA_CONTRATO
INNER JOIN GOLD.DW.TD_LOCALIDADE LL 			  ON LL.SK_TD_LOCALIDADE = F.SK_TD_LOCALIDADE
INNER JOIN GOLD.DW.TD_ORIGEM_ADESOES_WEB O 	  ON O.SK_TD_ORIGEM_ADESOES_WEB = F.SK_TD_ORIGEM_ADESOES_WEB
INNER JOIN GOLD.DW.TD_PARTICIPANTE P 		  ON P.SK_TD_PARTICIPANTE = F.SK_TD_PARTICIPANTE_INDICADOR
INNER JOIN GOLD.DW.TD_PESSOAS_INDICADAS PI 	  ON PI.SK_TD_PESSOAS_INDICADAS = F.SK_TD_PESSOAS_INDICADAS
INNER JOIN GOLD.DW.TD_PLANO_SAUDE PS 		  ON PS.SK_TD_PLANO_SAUDE = F.SK_TD_PLANO_SAUDE
INNER JOIN GOLD.DW.TD_TEMPO TI 				  ON TI.SK_TD_TEMPO = F.SK_TD_TEMPO_INDICACAO
INNER JOIN GOLD.DW.TD_TEMPO TP 				  ON TP.SK_TD_TEMPO = F.SK_TD_TEMPO_PROCESSAMENTO
WHERE F.ANO_MES_PROCESSAMENTO >= '202101'

"""

executeScript(sql)

query será realizada no banco:SQLSCIENCE_001

Empty DataFrame
Columns: [num_affected_rows, num_inserted_rows]
Index: []

### Tabela: População

In [0]:
sql = """

create or replace table mldata.default.adesoes_cassi_populacao as

SELECT DISTINCT
PAR.CO_HD_BENEFICIARIO AS HANDLE
FROM GOLD.DW.TF_POPULACAO POP
INNER JOIN GOLD.DW.TD_PARTICIPANTE PAR 	ON PAR.SK_TD_PARTICIPANTE = POP.SK_TD_PARTICIPANTE
INNER JOIN GOLD.DW.TD_PLANO_SAUDE PS 		ON PS.SK_TD_PLANO_SAUDE = POP.SK_TD_PLANO_SAUDE
WHERE POP.ANO_MES_PROCESSAMENTO = TO_DATE(NOW(),'YYYYMM') -1
AND POP.ST_TITULAR = 'S'
AND PS.CO_CONTRATO IN (2,4,5,6,7,30,61,66,68,69,70,277,278,659,28,35,197,217)
UNION
SELECT DISTINCT
BEN.HANDLE
FROM SILVER.SOC.SAM_BENEFICIARIO BEN
WHERE BEN.DATACANCELAMENTO IS NOT NULL
AND BEN.CONTRATO IN (2,4,5,6,7,30,61,66,68,69,70,277,278,659,28,35,197,217)

"""

executeScript(sql)

query será realizada no banco:SQLSCIENCE_001

Empty DataFrame
Columns: [num_affected_rows, num_inserted_rows]
Index: []

### Tabela: População cancel

In [0]:
sql = """

create or replace table mldata.default.adesoes_cassi_populacao_cancel as

SELECT DISTINCT
BEN.HANDLE
FROM SILVER.SOC.SAM_BENEFICIARIO BEN
WHERE BEN.DATACANCELAMENTO IS NOT NULL
AND BEN.CONTRATO IN (2,4,5,6,7,30,61,66,68,69,70,277,278,659,28,35,197,217)

"""

executeScript(sql)

query será realizada no banco:SQLSCIENCE_001

Empty DataFrame
Columns: [num_affected_rows, num_inserted_rows]
Index: []

### Tabela: Base indicação adesao

In [0]:
sql = """

create or replace table mldata.default.adesoes_cassi_base_indicacao_adesao as

SELECT
FA.ANO_MES_ADESAO,
FA.QT_ADESAO,
LL.SG_ESTADO,
P.CO_HD_BENEFICIARIO AS HANDLE_ADESAO,
P.DS_EMAIL,
P.NU_TELEFONE1,
P.NU_MATRICULA_CASSI,
P.DS_ORIGEM_ADESAO,
P.DS_PARENTESCO,
P.NO_BENEFICIARIO,
P.NU_CPF_BENEFICIARIO AS CPF,
PIN.CO_HD_BENEFICIARIO HANDLE_INDICADO,
PS.DS_PLANO_SAUDE,
PS.DS_GRUPO_PLANO_SAUDE,
PS.NO_CONTRATANTE,
PS.CO_CONTRATO,
TA.DT_COMPLETA DT_ADESAO,
TI.DT_COMPLETA DT_INDICACAO
FROM GOLD.DW.TF_INDICACOES_ADESOES FA
INNER JOIN GOLD.DW.TF_INDICACOES FI 		ON FI.SK_TF_INDICACOES = FA.SK_TF_INDICACOES
INNER JOIN GOLD.DW.TD_LOCALIDADE LL 		ON LL.SK_TD_LOCALIDADE = FA.SK_TD_LOCALIDADE
INNER JOIN GOLD.DW.TD_PARTICIPANTE P 		ON P.SK_TD_PARTICIPANTE = FA.SK_TD_PARTICIPANTE
INNER JOIN GOLD.DW.TD_PARTICIPANTE PIN 	ON PIN.SK_TD_PARTICIPANTE = FI.SK_TD_PARTICIPANTE_INDICADOR
INNER JOIN GOLD.DW.TD_PLANO_SAUDE PS 		ON PS.SK_TD_PLANO_SAUDE = FA.SK_TD_PLANO_SAUDE
INNER JOIN GOLD.DW.TD_TEMPO TA 			ON TA.SK_TD_TEMPO = FA.SK_TD_TEMPO_ADESAO
INNER JOIN GOLD.DW.TD_TEMPO TP 			ON TP.SK_TD_TEMPO = FA.SK_TD_TEMPO_PROCESSAMENTO
INNER JOIN GOLD.DW.TD_TEMPO TPI 			ON TPI.SK_TD_TEMPO = FI.SK_TD_TEMPO_PROCESSAMENTO
INNER JOIN GOLD.DW.TD_TEMPO TI 			ON TI.SK_TD_TEMPO = FI.SK_TD_TEMPO_INDICACAO

WHERE FA.ANO_MES_PROCESSAMENTO >= '202101'
AND FI.ANO_MES_PROCESSAMENTO >= '202101'

"""

executeScript(sql)

query será realizada no banco:SQLSCIENCE_001

Empty DataFrame
Columns: [num_affected_rows, num_inserted_rows]
Index: []