### Chamando o SQL serveless para rodar a query

In [0]:
%run /Workspace/Users/c00010492@cassi.com.br/Demandas/Reembolso/script_personalizado/sqlStatementSqlWarehouse

In [0]:
def executeScript(sql):
    sql_api = SQLStatementAPI()
    return sql_api.execute_sql(sql)

### Tabela: Pesquisa Avaliação

In [0]:
sql = """

create or replace table mldata.default.central_cassi_nota_ura_pesquisa_avaliacao

select distinct
av.grupodac,
UPPER(us.nome) AS NOME,
lo.usuario,
av.nota,
LO.ATENDIMENTO,
ca.protocoloans,
CA.NUMERO,
us.cpf,
ca.telefonecontato,
ca.interlocutor,
ca.DATAHORAINICIAL,
ca.DATAHORAFINAL

from silver.soc.ca_atend CA 
left JOIN silver.soc.ca_atend_log LO ON LO.ATENDIMENTO = CA.HANDLE
left JOIN silver.soc.ca_atend_avaliacao AV ON AV.PROTOCOLO = CA.HANDLE
JOIN silver.soc.z_grupousuarios US ON US.HANDLE = LO.USUARIO

where
lo.USUARIO <> '9521'
and CA.DATAHORAINICIAL >= '2023-01-01'

"""

executeScript(sql)

query será realizada no banco:SQLSCIENCE_001

Empty DataFrame
Columns: [num_affected_rows, num_inserted_rows]
Index: []

### Tabela: Cadastro

In [0]:
sql = """

create or replace table mldata.default.central_cassi_nota_ura_cadastro

SELECT

CO.CO_COLABORADOR,
CO.NO_COLABORADOR,
CO.NU_CPF_COLABORADOR,
CO.DS_LIDER,
CO.DS_CARGO,
CO.DS_ESCALA,
CO.DS_CAMPANHA,
CO.DS_ATENDIMENTO_ESPECIFICO,
GD.CO_GRUPO_DAC

FROM gold.dw.TF_CNT_PRODUTIVIDADE    TF
JOIN gold.dw.TD_CNT_COLABORADOR      CO ON CO.SK_TD_CNT_COLABORADOR = TF.SK_TD_CNT_COLABORADOR
JOIN gold.dw.TD_CNT_GRUPO_SUPERVISAO GS ON GS.SK_TD_CNT_GRUPO_SUPERVISAO = TF.SK_TD_CNT_GRUPO_SUPERVISAO
JOIN gold.dw.TD_CNT_GRUPO_DAC        GD ON GD.SK_TD_CNT_GRUPO_DAC = TF.SK_TD_CNT_GRUPO_DAC
JOIN gold.dw.TD_TEMPO                TA ON TA.SK_TD_TEMPO = TF.SK_TD_TEMPO_ATENDIMENTO

where
TA.DT_COMPLETA >= '2023-01-01'
"""

executeScript(sql)

query será realizada no banco:SQLSCIENCE_001

Empty DataFrame
Columns: [num_affected_rows, num_inserted_rows]
Index: []